@import "normalize.css";
@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #3D3D3F;
  font-weight: 400;
}
img{
  max-width: 100%;
}
input,
button,
button:focus{
  outline: none;
  box-shadow: none !important;
}
section{
  padding: 70px 0;
}
a:hover{
  text-decoration: none;
}
.header{
  background-color: #3C3B4B;
  padding: 30px 0 15px;
}
.header a{
  color: #fff;
}
.contacts-box a{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DADADA;
  display: inline-block;
  border-bottom: 1px solid #DADADA;
  transition: all .5s ease;
}
.contacts-box a:first-of-type{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-bottom: none;
  display: block;
}
.contacts-box a:hover{
  color: #F4A938;
}
.search-box{
  position: relative;
}
.search-box input{
  width: 358px;
  padding-left: 50px;
}
input{
  background: #FFFFFF;
  border: 1px solid #3D3D3F;
  border-radius: 10px;
  padding: 12px 30px;
  color: #363646;
  font-size: 16px;
}
.search-box:before{
  content: "";
  position: absolute;
  top: 16px;
  left: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
}
.btn-blue{
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 58px;
  transition: all 1s ease;
  border: 1px solid transparent;
}
.btn-blue:hover{
  color: #1b88ec;
  background: #fff;
  border-color: #1b88ec;
}
.header__bottom{
  margin-top: 50px;
}
.header__top .btn-blue{
  padding: 13px 20px;
}
.header__top .btn-blue img{
  margin-right: 10px;
}
.header__bottom .nav a{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 40px;
  transition: all .5s ease;
}
.header__bottom .nav a:hover{
  color: #F4A938;
}
.user-links a{
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  transition: all 1s ease;
}
.user-links a:hover{
  background: linear-gradient(124.08deg, #F4A938 -24.39%, #EE950F 123.42%);
}
.user-links a span{
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 13px;
  background: linear-gradient(124.08deg, #F4A938 -24.39%, #EE950F 123.42%);
  border-radius: 100px;
  top: -10px;
  left: -10px;
  text-align: center;
}
.langugage-box a{
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.langugage-box .dropdown-menu a{
  color: #3D3D3F;
}
.banner{
  padding: 92px;
  background-repeat: no-repeat;
  background-position: right;
}
.banner__title{
  font-weight: 900;
  font-size: 48px;
  line-height: 105%;
  text-transform: uppercase;
  color: #3D3D3F;
  margin-bottom: 20px;
  margin-top: 80px;
}
.banner__title span{
  color: #1B88EC;
}
.banner p{
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.carousel-indicators{
  right: auto;
  bottom: 15%;
  left: -6%;
}
.carousel-indicators li{
  background-color: #B8B8B8;
  height: 1px;
}
.carousel-indicators .active{
  background-color: #1B6FEC;
  width: 50px;
}
.request-box{
  padding: 66px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.request-box__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}
.request-box__title span{
  color: #1B88EC;
}
.request-box input{
  padding: 17px 30px;
  margin-right: 30px;
}
.request-box__image{
  position: absolute;
  top: -56px;
  left: 8%;
  width: 228px;
  height: 226px;
}
.section__title{
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
  text-transform: uppercase;
  color: #3D3D3F;
  text-align: center;
  margin-bottom: 45px;
}
.section__title span{
  border-bottom: 3px solid #1B6FEC;
}
.catalog .nav{
  border: none;
  margin-bottom: 30px;
}
.nav-tabs .nav-item {
  width: 30%;
  position: relative;
  text-align: left;
}
.nav-tabs .nav-item img{
  position: absolute;
  left: 100px;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: auto;
}
.catalog{
  background-repeat: no-repeat;
  background-position: bottom left
}
.catalog .nav .nav-link{
  background: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border: 2px solid #1B88EC;
  border-radius: 20px 300px;
  display: block;
  text-align: center;
  padding: 28px 50px;
  height: 80px;

}
.catalog .nav .nav-item:first-of-type .nav-link{
  text-align: left;
  padding: 18px 50px;
  padding-left: 180px;
}
.catalog .nav .nav-link.active{
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  color: #fff;
}
.catalog-box{
  background: linear-gradient(97.56deg, #3D3D3F -2.53%, #4C4C54 100.32%);
  border-radius: 10px;
  padding: 50px;
}
.catalog-box__title{
  font-size: 38px;
  line-height: 105%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.catalog-box p{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.catalog-box a{
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3D3F;
  padding: 19px 73px;
}
.owl-dots{
  text-align: center;
}
.owl-dots button{
  width: 36px;
  height: 36px;
  border: 3px solid #45454B !important;
  border-radius: 50%;
  background-color: transparent;
  margin: 7px;
}
.owl-dots button.active{
  background: #45454B;
}
.constuction__title{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #3D3D3F;
}
.constuction p{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3F;
  margin-bottom: 50px;
}
.equipment-box{
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  border-radius: 10px;
  padding: 20px;

  height: 150px;
  text-align: center;
}
.equipment-box img{
  max-width: 60px;
  max-height: 60px;
  text-align: center;
  display: inline-block !important;
  margin-bottom: 14px;
}
.equipment-box p{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.equipment__title{
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;

}
.equipment .owl-dots button{
  border: 3px solid #fff !important;
}
.equipment .owl-dots button.active {
  background: #fff;
}
.equipment .container-fluid{
  padding-left: 100px;
  padding-right: 100px;
}
.equipment .owl-dots{
  margin-top: 20px;
}
.owl-nav button{
  background: linear-gradient(127.45deg, #1570C4 -0.54%, #1570C4 -0.53%, #1364A0 101.73%) !important;
  border-radius: 10px;
  width: 50px;
  height: 150px;
  position: relative;
}
.owl-nav button:before{
  content: "";
  position: absolute;
  left: 15px;
  top: 50px;
  width: 25px;
  height: 51px;
  background-image: url('../img/owl-left.png');
}
.owl-nav button:last-of-type:before{
  background-image: url('../img/owl-right.png');
}
.owl-carousel-3 {
  padding: 0 60px;
}
.owl-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
}
.about-text{
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3F;
}
.about-title{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #3D3D3F;
  margin-bottom: 10px;
}
.about{
  position: relative;
}
.about:before{
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  width: 1670px;
  height: 436px;
  z-index: -1;
  background-image: url(../img/about-bg1.png);
  background-repeat: no-repeat;
}
.about:after{
  content: "";
  position: absolute;
  left: 0;
  top: 68%;
  width: 100%;
  height: 436px;
  z-index: -1;
  background-image: url(../img/about-bg2.png);
  background-repeat: no-repeat;
}
.footer{
  background: #3D3D3F;
}
.footer .logo{
  margin-bottom: 55px;
}
.footer .contacts-box{
  margin-bottom: 30px;
}
.footer .contacts-box img{
  margin-right: 12px;
}
.footer .contacts-box a{
  font-weight: 400;
}
.footer__title{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px
}
.footer a{
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #FFFFFF;
  display: block;
}
.callback-box{
 background: linear-gradient(149.11deg, #9B9B9B -4.68%, #464951 108.76%), #EC1B24;
}
.footer button{
  max-width: 250px;
  cursor: pointer;
}
video{
  max-width: 100%;
}
.video{
  position: relative;
}
.play-button{
  position: absolute;
  left: 43%;
  top: 38%;
}
.advantages__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 435px;
  margin-bottom: 10px;
}
.mw-510{
  max-width: 510px;
}
.advantages__number{
  font-weight: 900;
  font-size: 110px;
  line-height: 105%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  padding: 15px;
  margin-right: 10px;
}

.advantages__number:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 154px;
  height: 135px;
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%), linear-gradient(120.55deg, #DC1E29 10.38%, #BF2931 105.38%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}
.advantages__number:before{
  clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
}
.advantages__number.even{
  margin-right: 30px;
}
.advantages__number.even:before{
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  left: 0;
}
.advantages__text{
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: 360px;
}
.quality .owl-nav,
.quality .owl-nav button{
  height: 98%;
}
.quality a{
  display: block;
  margin: auto;
}
.w-80{
  width: 80%;
}
.quality .owl-nav button:before{
  top: 40%;
}
.news__box-date{
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.news__box-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 80px 0;
}
.news__box-link a{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.news__box{
  padding: 20px;
  border-radius: 10px;
}
.news__box--mini{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}
.news__box--mini .news__box-date{
  color: #737373;
}
.news__box--mini .news__box-title{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin: 20px 0;
}
.news__box--mini .news__box-link a{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
.articles__box-date{
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  position: relative;
}
.articles__box-date:before{
  content: "";
  position: absolute;
  right: 8px;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
.articles__box-theme{
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1B88EC;
}
.articles__box-link a{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.articles{
  background: #3B3B4B;
  border-radius: 10px;
  padding: 40px;
}
.articles__title{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: left;
}
.articles .owl-nav button:before{
  display: none;
}
.articles .owl-nav button{
  background: transparent !important;
  color: #fff !important;
  font-size: 60px !important;
  width: 30px;
  height: auto;
}
.articles .owl-nav{
  display: block;
  top: -100%;
  right: 0;
  width: auto;
  left: auto;
}
.subscribe{
  background-repeat: no-repeat;
  padding: 33px 0px;
  background-position: center;
}
.subscribe__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 330px;
  margin-bottom: 20px;
}
.subscribe input{
  padding: 17px 30px;
  margin-right: 20px;
  width: 260px;
}
.catalog-download{
  background: linear-gradient(81.36deg, #1B88EC 1.96%, #3B3B4B 100%);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding: 36px;
}
.catalog-download__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 210px;
}
.catalog-download__link{
  display: inline-block;
  margin-top: 50px;
}
.catalog-download__img{
  position: absolute;
  left: 50%;
  top: -30px;
}
.quality .owl-nav{
  left: 0%;
  width: 100%;
}
.catalog-download__link a{
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3D3F;
  padding: 19px 73px;
}
.advantages__link a{
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3D3F;
  padding: 19px 73px;
  margin-top: 20px;
  display: inline-block;
  margin-left: 30px;
}
.advantages__title--big{
  font-weight: 700;
  font-size: 36px;
  line-height: 105%;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  max-width: 477px;
  padding-top: 16px;
  padding-left: 30px;
  margin-bottom: 62px;
}
.ml-30{
  margin-left: 30px;
}
.relative{
  position: relative;
}
.advantages__title--big:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 477px;
    height: 134px;
    background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%), linear-gradient(120.55deg, #DC1E29 10.38%, #BF2931 105.38%);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}
.advantages__title--big.even:before{
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  left: auto;
  right: 0;
}
.tooltips{
  position: relative;
}
.tooltips button{
  position: absolute;
  background: none;
}
.tooltip1{
  left: 7%;
  top: 28%;
}
.tooltip2{
  left: 47%;
  top: 17%;
}
.tooltip3{
  left: 74%;
  top: 8%;
}
.tooltip4{
  left: 70%;
  top: 50%;
}
.tooltip5{
  left: 33%;
  top: 68%;
}
.tooltip-box{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 60px;
}
.tooltip-box input{
  line-height: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  z-index: 2;
}
.tooltip-box label{
  margin: 0;
  transition: all .5s ease;
  width: 100%;
  background: linear-gradient(93.13deg, #FFFFFF -3.28%, #FAFAFA 101.66%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  text-align: center;
  color: #3D3D3F;
  border: 1px solid #1B88EC;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}
.tooltip-box input:checked + label{
  color: #fff;
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%), #3D3D3F;
}
