@import "normalize.css";
@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #3D3D3F;
  font-weight: 400;
}
img{
  max-width: 100%;
}
input,
button,
button:focus{
  outline: none;
  box-shadow: none !important;
}
section{
  padding: 70px 0;
}
a:hover{
  text-decoration: none;
}
.header{
  background-color: #3C3B4B;
  padding: 30px 0 15px;
}
.header a{
  color: #fff;
}
.contacts-box a{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #DADADA;
  display: inline-block;
  border-bottom: 1px solid #DADADA;
  transition: all .5s ease;
}
.contacts-box a:first-of-type{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-bottom: none;
  display: block;
}
.contacts-box a:hover{
  color: #F4A938;
}
.search-box{
  position: relative;
}
.search-box input{
  width: 300px;
  padding-left: 50px;
}
input{
  background: #FFFFFF;
  border: 1px solid #3D3D3F;
  border-radius: 10px;
  padding: 12px 30px;
  color: #363646;
  font-size: 16px;
}
.search-box:before{
  content: "";
  position: absolute;
  top: 16px;
  left: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
}
.btn-blue{
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 58px;
  transition: all 1s ease;
  border: 1px solid transparent;
}
.btn-blue:hover{
  color: #1b88ec;
  background: #fff;
  border-color: #1b88ec;
}
.header__bottom{
  margin-top: 50px;
}
.header__top .btn-blue{
  padding: 13px 20px;
}
.header__top .btn-blue img{
  margin-right: 10px;
}
.header__bottom .nav a{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 24px;
  transition: all .5s ease;
}
.header__bottom .nav a:hover{
  color: #F4A938;
}
.user-links a{
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  transition: all 1s ease;
}
.user-links a:hover{
  background: linear-gradient(124.08deg, #F4A938 -24.39%, #EE950F 123.42%);
}
.w-30{
  width: 28%;
}
.advantages__title--big.even{
  padding-right: 30px;
}
.mr-md-30{
  margin-right: 30px;
}
.advantages__text.even{
  margin-left: auto;
  margin-right: 30px;
}
.soc-links a{
  margin-bottom: 50px;
}
.user-links a span{
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 13px;
  background: linear-gradient(124.08deg, #F4A938 -24.39%, #EE950F 123.42%);
  border-radius: 100px;
  top: -10px;
  left: -10px;
  text-align: center;
}
.langugage-box a{
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.langugage-box .dropdown-menu a{
  color: #3D3D3F;
}
.banner{
  padding: 92px;
  background-repeat: no-repeat;
  background-position: right;
}
.banner__title{
  font-weight: 900;
  font-size: 48px;
  line-height: 105%;
  text-transform: uppercase;
  color: #3D3D3F;
  margin-bottom: 20px;
  margin-top: 80px;
}
.banner__title span{
  color: #1B88EC;
}
.banner p{
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.carousel-indicators{
  right: auto;
  bottom: 15%;
  left: -6%;
}
.carousel-indicators li{
  background-color: #B8B8B8;
  height: 1px;
}
.carousel-indicators .active{
  background-color: #1B6FEC;
  width: 50px;
}
.request-box{
  padding: 66px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.request-box__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}
.request-box__title span{
  color: #1B88EC;
}
.request-box input{
  padding: 17px 30px;
  margin-right: 30px;
}
.request-box__image{
  position: absolute;
  top: -56px;
  left: 8%;
  width: 228px;
  height: 226px;
}
.section__title{
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
  text-transform: uppercase;
  color: #3D3D3F;
  text-align: center;
  margin-bottom: 45px;
}
.section__title span{
  border-bottom: 3px solid #1B6FEC;
}
.catalog .nav{
  border: none;
  margin-bottom: 30px;
}
.nav-tabs .nav-item {
  width: 30%;
  position: relative;
  text-align: left;
}
.catalog .nav-item .nav-link{
  position: relative;
}
.catalog .nav-item:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 108px;
  left: 0;
  top: 0;
  transform: rotate(317deg) translate(36px, 15px);
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  z-index: -1;
}
.catalog .nav-item:after{
  content: "";
  position: absolute;
  width: 2px;
  height: 108px;
  right: 0;
  top: 0;
  transform: rotate(317deg) translate(-17px, -35px);
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  z-index: -1;
}
.catalog .nav-item .nav-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid #1B88EC;
  z-index: -1;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}
.catalog .nav .nav-link.active:before{
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
}
.catalog .nav .nav-link.active{
  color: #fff;
}
.nav-tabs .nav-item img{
  position: absolute;
  left: 100px;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: auto;
}
.catalog{
  background-repeat: no-repeat;
  background-position: bottom left
}
.catalog .nav .nav-link{
  background: transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  z-index: 10;
  border: none;
  display: block;
  text-align: center;
  padding: 28px 50px;
  height: 80px;

}
.catalog .nav .nav-item:first-of-type .nav-link{
  text-align: left;
  padding: 18px 50px;
  padding-left: 180px;
}

.catalog-box{
  background: linear-gradient(97.56deg, #3D3D3F -2.53%, #4C4C54 100.32%);
  border-radius: 10px;
  padding: 50px;
}
.catalog-box__title{
  font-size: 38px;
  line-height: 105%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.catalog-box p{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.catalog-box a{
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3D3F;
  padding: 19px 73px;
}
.owl-dots{
  text-align: center;
}
.owl-dots button{
  width: 36px;
  height: 36px;
  border: 3px solid #45454B !important;
  border-radius: 50%;
  background-color: transparent;
  margin: 7px;
}
.owl-dots button.active{
  background: #45454B;
}
.constuction__title{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #3D3D3F;
}
.constuction p{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3F;
  margin-bottom: 50px;
}
.equipment-box{
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%);
  border-radius: 10px;
  padding: 20px;

  height: 150px;
  text-align: center;
}
.equipment-box img{
  max-width: 60px;
  max-height: 60px;
  text-align: center;
  display: inline-block !important;
  margin-bottom: 14px;
}
.equipment-box p{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.equipment__title{
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;

}
.equipment .owl-dots button{
  border: 3px solid #fff !important;
}
.equipment .owl-dots button.active {
  background: #fff;
}
.equipment .container-fluid{
  padding-left: 100px;
  padding-right: 100px;
}
.equipment .owl-dots{
  margin-top: 20px;
}
.owl-nav button{
  background: linear-gradient(127.45deg, #1570C4 -0.54%, #1570C4 -0.53%, #1364A0 101.73%) !important;
  border-radius: 10px;
  width: 50px;
  height: 150px;
  position: relative;
}
.owl-nav button:before{
  content: "";
  position: absolute;
  left: 15px;
  top: 50px;
  width: 25px;
  height: 51px;
  background-image: url('../img/owl-left.png');
}
.owl-nav button:last-of-type:before{
  background-image: url('../img/owl-right.png');
}
.owl-carousel-3 {
  padding: 0 60px;
}
.owl-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
}
.about-text{
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3F;
}
.about-title{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #3D3D3F;
  margin-bottom: 10px;
}
.about{
  position: relative;
}
.about:before{
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  width: 1670px;
  height: 436px;
  z-index: -1;
  background-image: url(../img/about-bg1.png);
  background-repeat: no-repeat;
}
.about:after{
  content: "";
  position: absolute;
  left: 0;
  top: 68%;
  width: 100%;
  height: 436px;
  z-index: -1;
  background-image: url(../img/about-bg2.png);
  background-repeat: no-repeat;
}
.footer{
  background: #3D3D3F;
}
.footer .logo{
  margin-bottom: 55px;
}
.footer .contacts-box{
  margin-bottom: 30px;
}
.footer .contacts-box img{
  margin-right: 12px;
}
.footer .contacts-box a{
  font-weight: 400;
}
.footer__title{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px
}
.footer a{
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #FFFFFF;
  display: block;
}
.callback-box{
 background: linear-gradient(149.11deg, #9B9B9B -4.68%, #464951 108.76%), #EC1B24;
}
.footer button{
  max-width: 250px;
  cursor: pointer;
}
video{
  max-width: 100%;
}
.video{
  position: relative;
}
.play-button{
  position: absolute;
  left: 43%;
  top: 38%;
}
.advantages__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 435px;
  margin-bottom: 10px;
}
.mw-510{
  max-width: 510px;
}
.advantages__number{
  font-weight: 900;
  font-size: 110px;
  line-height: 105%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  padding: 15px;
  margin-right: 10px;
}

.advantages__number:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 154px;
  height: 135px;
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%), linear-gradient(120.55deg, #DC1E29 10.38%, #BF2931 105.38%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}
.advantages__number:before{
  clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
}
.advantages__number.even{
  margin-right: 30px;
}
.advantages__number.even:before{
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  left: 0;
}
.advantages__text{
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: 360px;
}
.quality .owl-nav,
.quality .owl-nav button{
  height: 98%;
}
.quality a{
  display: block;
  margin: auto;
}
.w-80{
  width: 80%;
}
.quality .owl-nav button:before{
  top: 40%;
}
.news__box-date{
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.news__box-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 80px 0;
}
.news__box-link a{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.news__box{
  padding: 20px;
  border-radius: 10px;
}
.news__box--mini{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}
.news__box--mini .news__box-date{
  color: #737373;
}
.news__box--mini .news__box-title{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin: 20px 0;
}
.news__box--mini .news__box-link a{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
.articles__box-date{
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  position: relative;
}
.articles__box-date:before{
  content: "";
  position: absolute;
  right: 8px;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
.articles__box-theme{
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1B88EC;
}
.articles__box-link a{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.articles{
  background: #3B3B4B;
  border-radius: 10px;
  padding: 40px;
}
.articles__title{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: left;
}
.articles .owl-nav button:before{
  display: none;
}
.articles .owl-nav button{
  background: transparent !important;
  color: #fff !important;
  font-size: 60px !important;
  width: 30px;
  height: auto;
}
.articles .owl-nav{
  display: block;
  top: -100%;
  right: 0;
  width: auto;
  left: auto;
}
.subscribe{
  background-repeat: no-repeat;
  padding: 33px 0px;
  background-position: center;
}
.subscribe__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 330px;
  margin-bottom: 20px;
}
.subscribe input{
  padding: 17px 30px;
  margin-right: 20px;
  width: 260px;
}
.catalog-download{
  background: linear-gradient(81.36deg, #1B88EC 1.96%, #3B3B4B 100%);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding: 36px;
}
.catalog-download__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 210px;
}
.catalog-download__link{
  display: inline-block;
  margin-top: 50px;
}
.catalog-download__img{
  position: absolute;
  left: 50%;
  top: -30px;
}
.quality .owl-nav{
  left: 0%;
  width: 100%;
}
.catalog-download__link a{
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3D3F;
  padding: 19px 73px;
}
.advantages__link a{
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3D3F;
  padding: 19px 73px;
  margin-top: 20px;
  display: inline-block;
  margin-left: 30px;
}
.advantages__title--big{
  font-weight: 700;
  font-size: 36px;
  line-height: 105%;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  max-width: 477px;
  padding-top: 16px;
  padding-left: 30px;
  margin-bottom: 62px;
}
.ml-30{
  margin-left: 30px;
}
.relative{
  position: relative;
}
.advantages__title--big:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 477px;
    height: 134px;
    background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%), linear-gradient(120.55deg, #DC1E29 10.38%, #BF2931 105.38%);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    max-width: 100%;
}
.advantages__title--big.even:before{
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  left: auto;
  right: 0;
}
.tooltips{
  position: relative;
}
.tooltips button{
  position: absolute;
  background: none;
}
.tooltip1{
  left: 7%;
  top: 28%;
}
.tooltip2{
  left: 47%;
  top: 17%;
}
.tooltip3{
  left: 74%;
  top: 8%;
}
.tooltip4{
  left: 70%;
  top: 50%;
}
.tooltip5{
  left: 33%;
  top: 68%;
}
.advantages{
  margin-top: -6px;
}
.tooltip-box{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 60px;
}
.tooltip-box input{
  line-height: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  z-index: 2;
}
.tooltip-box label{
  margin: 0;
  transition: all .5s ease;
  width: 100%;
  background: linear-gradient(93.13deg, #FFFFFF -3.28%, #FAFAFA 101.66%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  text-align: center;
  color: #3D3D3F;
  border: 1px solid #1B88EC;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}
.tooltip-box input:checked + label{
  color: #fff;
  background: linear-gradient(127.45deg, #1B88EC -0.53%, #1C7DC3 101.73%), #3D3D3F;
}
#menuToggle {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 35px;
  z-index: 13;
}
#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 20;
}
#menuToggle span {
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all .7s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .7s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .7s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .7s cubic-bezier(.08,.81,.87,.71);
  transition: all .7s cubic-bezier(.08,.81,.87,.71);
  z-index: 10;
}
#menuToggle span:last-of-type{
  margin-bottom: 0;
}
#span1 {
  transform-origin: 4px 0px;
}
#span3 {
  transform-origin: bottom right;
}
#menuToggle input:checked ~ #span1 {
  background-color: #fff;
  transform: rotate(45deg) translate(2px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #fff;
  transform: rotate(495deg) translate(5px);
}
#menuToggle input:checked ~ #span3 {
  background-color: #fff;
  transform: rotate(45deg);
  opacity: 0;
}
.overflow-hidden {
    overflow: hidden;
}
@media (min-width: 601px){
  .header-mobile{
    display: none;
  }
  .d-mobi-none{
    display: block !important;
  }
  .d-mobi-block{
    display: none !important;
  }
}
@media (max-width: 600px){
  .d-mobi-block{
    display: block !important;
  }
  .d-mobi-none{
    display: none !important;
  }
  .header__top,
  .header__bottom{
    display: none;
  }
  .header{
    padding: 10px 0;
  }
  .contacts-box img{
    margin-right: 10px;
  }
  .logo img{
    height: 45px;
  }
  .search-box input{
    max-width: 100%;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .header-mobile__nav{
    position: fixed;
    background: #3C3B4B;
    width: 100%;
    height: fit-content;
    top: 62px;
    z-index: 13;
    left: -110%;
    transition: all .5s ease;
    padding: 15px;
    padding-bottom: 30px;
    max-height: 100%;
    overflow-y: scroll;
    display: block;
  }
  .header-mobile__nav.active {
    left: 0;
  }
  .header-mobile__nav-links a {
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .user-links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .section__title{
    font-size: 30px;
  }
  .nav-tabs .nav-item{
    width: 100%;
  }
  .banner {
    padding: 40px 0;
    background-size: 100% 20%;
    background-position: 100% 42%;
  }
  .banner__title{
    margin: 0;
    font-size: 32px;
    margin-bottom: 40px;
  }
  .banner p{
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .carousel-indicators {
    right: auto;
    bottom: auto;
    left: auto;
    top: 58%;
    width: 100%;
    margin: auto;
  }
  .banner .btn-blue{
    width: 100%;
    display: block;
    text-align: center;
  }
  .request-box{
    padding: 30px 0;
  }
  .request-box__image{
    display: none;
  }
  .request-box__title{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .request-box input,
  .request-box button{
    width: 100%;
    margin-bottom: 10px;
  }
  section{
    padding: 50px 0;
  }
  .section__title{
    font-size: 30px;
    text-align: left;
    line-height: 31px;
    border-bottom: 3px solid #1B6FEC;
    padding-bottom: 10px;
  }
  .section__title span{
    border: none;
  }
  .catalog-box__title{
    font-size: 28px;
  }
  .catalog-box{
    padding: 15px;
  }
  .catalog-box img{
    max-width: 171px;
  }
  .catalog-box p {
    margin-bottom: 30px;
  }
  .catalog-box a{
    display: block;
    width: 90%;
    margin-top: 30px;
  }
  .tooltip-box {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 45%;
    height: 60px;
  }
  .tooltip-box:nth-child(3) label,
  .tooltip-box:nth-child(4) label{
    padding: 12px 10px;
  }
  .tooltip-box:last-of-type{
    width: 95%;
  }
  .constuction p{
    margin-bottom: 30px;
  }
  .constuction{
    padding: 30px 0;
  }
  .equipment .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .play-button {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 78px;
    max-height: 78px;
    right: 0;
    bottom: 0;
    margin: 0;
    margin: auto;
  }
  .advantages__title{
    font-size: 24px;
    line-height: 30px;
  }
  .advantages__number:before{
    width: 68px;
    height: 60px;
  }
  .p-mobi-15{
    padding: 0 15px;
  }
  .advantages__number{
    font-size: 44px;
    padding: 4px 8px;
  }
  .advantages__number.even:before{
    clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
    right: 0;
    left: auto;
  }
  .news__box-title{
    text-align: left;
  }
  .news__box {
    align-items: self-start !important;
  }
  .news__box {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer .logo img{
    height: 64px;
  }
  .footer .logo{
    text-align: center;
  }
  .soc-links a{
    max-width: 30px;
    margin-right: 30px;
    display: inline-block;
  }
  .footer .logo{
    margin-bottom: 30px;
  }
  .footer button {
    max-width: none;
    margin-bottom: 30px;
  }
  .catalog-download{
    margin-top: 50px;
  }
  .owl-dots button {
    width: 16px;
    height: 16px;
    border: 1px solid #45454B !important;
  }
  .catalog-download__title {
    max-width: 210px;
    text-align: center;
    margin: auto;
  }
  .catalog-download__img {
    position: static;
    text-align: center;
    margin-top: 20px;
  }
  .catalog-download__link{
    display: block;
  }
  .subscribe{
    background-size: cover;
    background-position: bottom;
  }
  .subscribe input{
    width: 100%;
    margin-bottom: 20px;
  }
  .subscribe button,
  .subscribe a{
    width: 100%;
    display: block;
  }
  .pb-360{
    padding-bottom: 360px;
  }
  .articles .owl-nav{
    top: -140%;
  }
  .equipment__title{
    text-align: left;
    font-size: 30px;
  }
  .equipment .owl-dots button {
    border: 1px solid #fff !important;
  }
  .advantages__title--big.even:before{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    right: auto;
    left: 0;
  }
  .advantages__title--big{
    font-size: 30px;
    padding: 15px;
    margin-bottom: 0;
    height: 95px;
  }
  .advantages__title--big:before{
    height: 95px;
  }
  .advantages__text {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .advantages-box--big{
    margin-bottom: 70px;
  }
  .advantages-box--big img{
    height: 200px;
    object-fit: cover
  }
  .request-box input{
    margin: 0;
  }
  .advantages {
    background-size: cover;
    padding-bottom: 10px !important;
    margin-top: 30px;
  }
  .w-30 {
    width: unset;
  }
  .catalog .nav-item .nav-link:before {
    clip-path: none;
  }
  .catalog .nav-item:before,
  .catalog .nav-item:after{
    display: none;
  }
  .nav-tabs .nav-item img{
    left: 30px;
  }
  .catalog .nav .nav-item:first-of-type .nav-link {
    padding-left: 115px;
  }
  .nav-tabs .nav-item {
    margin-bottom: 10px;
  }
}
